### Student Names:   

#### Lena Baeshen 

#### Alaa alharbi 

#### Razan aljuhani

# PRACTICE EXERCISES:

<a href = '#sec1'> 1.Introduction to Variables </a>

<a href = '#sec2'> 2. Collection of Variables </a>

<a href = '#sec3'> 3. Data Types </a>

<a href = '#sec4'> 4. Conditional Statement </a>

<a href = '#sec5'> 5. Loop Statement </a>

<a href = '#sec6'> 6. Functions </a>

<a id = 'sec1'></a>

## 1. Introduction to Variables

### 1.1) What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a+b
print(add, type(add))

15.1 <class 'float'>

##### Ans(1.1) - As shown above the type of add variable is float.

### 1.2) Is 5 = (3+2)?

In [2]:
5 == (3+2)

True

##### Ans(1.2) - As shown above, Yes 5 is equal to (3+2)  .

### 1.3) Add 33 in variable *a* and print the result

a = 3

In [3]:
a = 3
a += 33
print(a)

36

### 1.4) Convert integer variable *a* to float and check its type

a = 3

In [4]:
# 1- Convert integer variable a to float 
a = 3
a = float(a)
# 2- check its type
print(type(a))

<class 'float'>

<a id = 'sec2'></a>
## 2. Collection of Variables

### 2.1) Create a list of repeated element (element 2,48 times)

In [5]:
# 1- Create a list
repeatedList=[2]*48
repeatedList

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

### 2.2)  Replace the second element of the list with "strawberries"
list = ["apple","orange","grapes","watermelon"]

Python's indexing starts from 0 hence the second element will be indexed as 1. 

Here, we are assigning the value 'strawberry' to the second element of the variable 'list' which contains a pre-defined list.

In [6]:
list = ["apple","orange","grapes","watermelon"]
list[1] = 'strawberry'
list

['apple', 'strawberry', 'grapes', 'watermelon']

### 2.3) Check length of list

List1 =["a","b","c","d","e"]

In [7]:
List1 = ["a","b","c","d","e"]
len(List1)

5

### 2.4) Create a dictionary with the following information:

brand = Audi

Model = Q2

Year = 1980

In [8]:
cars = {"brand": "Audi", "Model":"Q2", "Year":1980}
cars

{'brand': 'Audi', 'Model': 'Q2', 'Year': 1980}

### 2.5) Create a set of following elements

1.0, "Hello", 55 , (6,7,8)

In [9]:
sett = {1.0,"Hello",55,(6,7,8)}
sett

{(6, 7, 8), 1.0, 55, 'Hello'}

<a id = 'sec3'></a>

## 3. Data Types and String Manipulation

### 3.1) Printing your name My_Name = "My name is Jupyter!" Also, check if My_Name is all Caps or not. Use isupper() to check returns True if all the letters are Capitals, False if atleast one letter in in lower case. 

HINT: My_Name.isupper()

In [10]:
# 1- Printing your name My_Name
My_Name = "My name is Jupyter!"
print(My_Name)

# 2- Check if My_Name is all Caps or not
if(My_Name.isupper()):
    print('Ture')
else:
    print('False')

My name is Jupyter!
False

### 3.2)  Convert My_Name to all caps. Hint: My_Name.upper().

In [11]:
My_Name = My_Name.upper()
print(My_Name)

MY NAME IS JUPYTER!

### 3.3) if int1 = "500", what is the Datatype of int1

In [12]:
int1 = "500"
print(type(int1))

<class 'str'>

##### Ans(3.3) - As shown above the Datatype int1 is String.

<a id = 'sec4'></a>

## 4. Practice Exercise on Conditional Statement

### 4.1) if x = 20 and y = 30. Write a python code to check if x is less than y.

In [13]:
x = 20
y = 30 
print(x < y)

True

### 4.2) Check if *a* is equal to 10, If yes, print "Hello", else print "Good Bye"
a = 56

In [14]:
a = 56
if(a==10):
    print("Hello")
else:
    print("Good Bye")

Good Bye

### 4.3) Check whether a number is even or odd
a = 2020

In [15]:
a = 2020
if (a % 2) == 0:
    print("The number is EVEN")
else:
    print("The number is ODD")

The number is EVEN

### 4.4) Check if the word "Data" is present in the sentence "I am a Data Scientist". If found, print "It is present" else print FALSE.

In [16]:
word = "Data"
sentence = "I am a Data Scientist"
if(word in sentence ):
    print("It is present")
else:
    print("FALSE")

It is present

### 4.5) Write python code to check if a number is positive or negative.

In [17]:
# 1- take number input from the user 
number = int(input("Enter a number: "))

# 2- check if a number is positive or negative
if(number >= 0):
    print('The number is positive')
else:
    print('The number is negative')

Enter a number: -7
The number is negative

<a id = 'sec5'></a>

## 5. Practice Exercise on Loops

### 5.1) Print Data Science 5 times using for loop

In [18]:
for i in range(0,5):
    print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

Note: Remember to keep the index as one more than what is required. In the above code the indexing is done from 0 to 5 which are 6 places but Python has printed it 5 times.

### 5.2) Print all the even numbers from 1 to 20 (both inclusive) using for loop.

In [19]:
for i in range(1,21):
    if (i % 2) == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

<a id = 'sec6'></a>

## 6. Function

### 6.1) Define the python function to check whether the number 33 is even or odd

In [20]:
# 1- Defind the function called checkEvenOdd
def checkEvenOdd(num):
    
    # Check if the number is odd or even
    if (num % 2) == 0:
        print("The number is EVEN")
    else:
        print("The number is ODD")

In [21]:
# 2- Test the function (checkEvenOdd)

#Example 1
num1 = 4 
print(num1)
checkEvenOdd(num1)

print("")

#Example 2
num2 = 7
print(num2)
checkEvenOdd(num2)

4
The number is EVEN

7
The number is ODD

### 6.2)Write the python program to get the unique values from the given list

In [22]:
# 1- Defind the function called uniqueValues
def uniqueValues(list1):
    
    # Create unique_list
    unique_list = []
    
    # Traverse for all elements in list1
    for i in list1:
        
        # Check if elements in list1, is not in unique_list.
        if i not in unique_list:
            # Append elements of list1 in unique_list
            unique_list.append(i)
            
    # print element of the unique_list
    #for i in unique_list:
    print (unique_list)

In [23]:
# 2- Test the function (uniqueValues)

#Example1 
list1 = [1, 2, 3, 2, 3, 7, 8, 7]
print("list 1: ", list1)
print("The unique elements from 1st list are: ")
uniqueValues(list1)

print("")

#Example2 
list2 = ["Razan", "Lena", "Alaa", "Razan", "Lena", "Alaa"]
print("list 2: ", list2)
print("The unique elements from 3st list are: ")
uniqueValues(list2)

list 1:  [1, 2, 3, 2, 3, 7, 8, 7]
The unique elements from 1st list are:
[1, 2, 3, 7, 8]

list 2:  ['Razan', 'Lena', 'Alaa', 'Razan', 'Lena', 'Alaa']
The unique elements from 3st list are:
['Razan', 'Lena', 'Alaa']

## Keep Learning!